/* The side navigation menu */
.sidenav {
  height: 100% !important; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: display 2.5s ease; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav.show {
  width : 8em
}
