<div id="appframe" class="container" >
  <nav class="navbar sticky-top navbar-dark bg-primary ">
    <button class="navbar-toggler" type="button"
    (click)="isCollapsed = !isCollapsed" >
      <span class="navbar-toggler-icon"></span>
      </button>

    <a class="navbar-brand" href="#">
      <img src="/assets/icons/spam-96.png" width="30" height="30"
          class="d-inline-block align-top" alt="spammer icon">
            Spammer
    </a>
  </nav>

  <div class="sidenav bg-light"
      [collapse]="isCollapsed"
      id="sideNavContent" >
      <div class="nav flex-column">
        <a class="nav-link" routerLink = "/about" routerLinkActive="active">About </a>
        <a class="nav-link" routerLink="/" routerLinkActive="active">Sign in</a>
        <a class="nav-link" (click)="clearUser()" >Sign out</a>
      </div>
  </div>

  <router-outlet></router-outlet>

  <div class="footer d-flex justify-content-center">
      <button class="btn btn-primary"
      id="btnAdd"
      *ngIf="!!deferredPrompt"
      disabled={{btnDisabled}}
      (click)="onClick()" >
      Add to Home Screen
      </button>
  </div>
</div>


