#chatPanel{
  min-width:230px;
  width: auto !important;
  /*height: calc(100vh - 104px);*/
}

#msgHistory {
  overflow-y: scroll;
  height: calc(75vh - 200px);

 }

.inputText{
  width:calc(100% - 62px);
}
